
  
@media(max-width:785px){
    
    
          .navigation{
        display: none;
    }
    .burgerr{
        display: block;
    }

.p2-cls{
    width: 80%;
    font-size: 10px;
}
.div-3{
    flex-direction: column;
    
}
.h2user2{
    display: none;

} 

 .second-sectiondiv{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.third-sectiondiv{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.fourth-sectiondiv{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.footerdiv{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.five-sectiondiv{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.divuser{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;

} 
.h2user2{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.boxfooter{ 
    display: none;
    
}
.divicon{
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}
  
.divph{
   display: none;
}
   

}